@font-face {
    font-family: 'BalooDa2';
    src: url('../fonts/BalooDa2-Regular.ttf') format('truetype');
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
    font-style: bold;
    font-weight: normal;
}

#myProgress {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
}
  
 #myBar {
    border-radius: 5px;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    transition: width 1s;
}

body{
    margin: 0;        
}

.barra{
    width: 100%;
    background-color: rgb(26,103,121);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.barra a{
    font-family: BalooDa2 !important;
    font-size: 20px;
    vertical-align: middle !important;
    padding: 19px;
}

h3{
    font-family: BalooDa2 !important;
    font-size: 24px;
}

.respuestas label{
    font-family: Raleway !important;
}

input[type='button']{
    font-family: BalooDa2 !important;
    font-size: 19px;
}

.boton{
    background-color: rgb(129,0,71);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px;
    box-shadow: rgb(129,0,71);
    margin-top: 15px;
    font-size: 15px;
}

.boton:hover{
    transition: all 0.5s ease;
    background-color: rgb(173, 172, 178);
}

.logo{    
    padding: 10px;
    width: 110px;
    margin-top: 5px;
    margin-left: 10px;
    min-width: 100px;
}

.grafico{
    display: block;
    background: white;
    min-width: 200px;
    max-width: 500px;
    margin: auto;
}
.cuestionario{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    
}

.pregunta{
    width: 100%;
    display: inline-block;
}

#enviar{    
    width: 70px;    
}

#enviar:hover{
    cursor: pointer;
}

#pdf{    
    width: 180px;    
}

#pdf:hover{
    cursor: pointer;
}

#back{
    display: none;    
    width: 70px;    
}

#back:hover{
    cursor: pointer;
}

#siguiente{    
    display: none;
    width: 70px;
}

#siguiente:hover{
    cursor: pointer;
}

#update{
    display: none;
    width: 70px;
}

#update:hover{
    cursor: pointer;
}

.respuestas label{
    cursor: pointer;
}

.pregunta{
    display: none;
}

#pdf{
    display: none;
}

.botones{
    width: 100%;
    height: 75px;
}

.derecha{
    float: right;   
    vertical-align: middle;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    background-color: #f2f2f2;
    color: #575859;
    padding: 15px;
    border-radius: 10px;
    display: block;
}

label:hover{
    background-color: rgb(152, 202, 204);    
    transition: all 0.5s ease;
    color: white;
}

input:checked + label {
    background-color: rgb(26,103,121);
    color: white;
}

input[type="radio"]{
    visibility: hidden;
}

@media (max-width: 520px) {
    .grafica {
        width: 200px;
    }
}

@media (max-width: 600px){
    .derecha{
        display: none;
    }
}

@media (max-width: 1025px){
    .cuestionario{
        margin-left: 10px;        
    }
}